
body{ 
	/* --bg-color: lightgoldenrodyellow; */
	/* --bg-color: mistyrose; */
 	/* background: var(--bg-color);  */
 	/* background:mistyrose; */
 	background:mistyrose;
}
.navbar{
	/* background: var(--bg-color); */
	text-align: right;
}
#dk-left-menu>li>a.active{
	/* background: darkviolet;  */
	background:maroon;
	color: white;
}
#dk-left-menu>li>a{
	color: maroon;
}
.dk-main-class{
	color: maroon;
	border-color: maroon;
}
#dk-left-menu>li:hover {
	background: Tan;
	color: maroon;
}
.dk-main-class:hover{
	background: Tan;
	color: maroon;
	border-color: SaddleBrown;
}
btn:hover{
	background: Tan;
	color: maroon;		
}
btn.active{
	background:maroon;
}