body{ 
 	background:mistyrose;
}

.dk-main-class{
	color: maroon;
	border-color: maroon;
}
.btn:hover{
	background: pink;
	color: maroon;	
	border-color: maroon;	
}
.btn:active{
	background:pink;
}
.dk-main-class:hover{
	background: pink;
	color: maroon;
	border-color: SaddleBrown;
}

#dk-left-menu>li>a.active{
	background: darkviolet;
	background:maroon;
	color: white;
}
#dk-left-menu>li>a{
	color: maroon;
}
#dk-left-menu>li:hover {
	background: pink;
	color: maroon;
}
.dk-div-border{
	border: 1px solid maroon; 
	border-radius: 7px;
}
.table>thead>tr{
	background: maroon;
	color: white;
}
.table>thead>tr>th{
	border-right: 1px solid white;
	border-top: 1px solid maroon;
}
.table>tbody>tr>td{
	border: 1px solid maroon; 
	padding-top: 0;
	padding-bottom: 0;
}
/* .table>tbody>tr:nth-child(2n){
  background: pink;
} */
.table>tbody>tr:hover{
  background: coral;
  cursor: pointer;
}
.dk-btn-contecst{
	color: white;
	border-color: maroon;
	background: maroon;
	width: 120px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 maroon;
	/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
.dk-btn-contecst:active{
	background: peru;
	background: green;
	box-shadow: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 maroon;
}
.dk-btn-contecst:hover{
    background: pink; 
box-shadow: none;
}
.dk-btn-contecst:target{
background: navy; 
box-shadow: none;
}
.dk-h-10p{
	height: 10%;
}
.dk-h-90p{
	height: 90%;
}
.dk-text-color{
	color: maroon;
}
#dk-data-table{
	border: 1px solid maroon;
	background: pink;
}
#dk-data-table>tbody>tr{
	border: 1px solid maroon;
}
#dk-data-table>tbody>tr>td{
	border: 1px solid maroon;
}

.dk-font-bold{
	font-weight: bold;
}
.dk-text-r{
	text-align: right;
}
.dk-noresize{
	resize: none;
}
.dk-w-30{
	width: 30%;
}
.dk-w-20{
	width: 20%;
}
.active_row{
	background-color: darksalmon;
}
/*Кнопка выбора файла*/
.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
/* 
.navbar{
	background: mistyrose;
	text-align: right;
}
 */
/* .highlight {

    background-color: rgb(255,0,0);

} */